# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg/

# Logs
pip-log.txt

# Tests
.tox/
.coverage

# compiled translation files.
*.mo

# external GPG executable and dependencies
gpg/
